.btn {
	margin-top: 60px;
	padding: 30px;
}

.questions {
	text-align: center;
	display: block;
	font-size: 24px;
	margin-top: 15px;
}

/*label {
	color: blue;
	font-size: 16px;
}*/

/*.btn-group {
	margin-top: 15px;
}*/
